      #header{
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: center;
        width: 100%;
      }

  

        .header:focus {
        outline: none;
        }

      body {
        display: flex;
        flex-direction: column;
        background: #EEEEEE;
         justify-content: center;
      }

      h1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #3F3F3F;
        font-size: 42px;
        font-family: Helvetica;
      }
        
       span{
            color: #FF7373;
            font-family: Helvetica;
       } 

      .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
        background: #EEEEEE;
        margin: 5% 2.5% 0 2.5%;
    }

    .header{
        display: flex;
        justify-content: center;
        height: 30px;
        font-family: Helvetica;
        color: #3B3B3B;
        font-size: 18px;
        font-weight: bold;
      }

     .underdiv{
        width: 450px;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
      }

      .items {
        display: flex;
        flex-direction: column;
      }

      #button{
        margin-left: 5px;
        height: 50px;
        width: 50px;
        background: white;
        padding-top: 5px;
      }

       #plus {
        position: relative;
        top: 26px;
        background: white;
        border: 1px solid white;
        height: 50px;
        width: 50px;
        cursor: pointer;
      }

         .but{
         font-weight: 700;
         font-family: Helvetica;
         height: 33px;   
         color: #525252;
         border-style: solid;
         border-color: #BABABA;
         background-color:  #BABABA; 
         border-radius: 0 10px 10px 0;
         padding-left: 8px;
         padding-right: 8px;
        cursor: pointer;


    }
.cross{
    font-weight: 700;
    font-family: Helvetica;
    height: 23px;
    color: #525252;
    border-style: solid;
    border-color: #BABABA;
    background-color: #BABABA;
    border-radius: 10px 0 0 10px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 7px;
    cursor: pointer;

     }

     .input{
        color: #515151;
        font-family: Helvetica;
        background-color: #E3E3E3;
        padding: 2px 17px;
    	height: 25px;
    	width: 400px;
    	font-size: 17px;
    	font-family: Helvetica;
    	box-shadow: none;
    	border: 2px solid #E3E3E3;
    }

    #flexed{
        display: flex;
        align-self: stretch;
        flex-wrap: wrap;
        max-width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        background: #EEEEEE;

    }
    .mainContainer{
        display: flex;
        flex-direction: column;

    }

    #second{
        display: flex;
        flex-direction: column;
        background: #EEEEEE;
    }
    .remove{
        position: relative;
        border-radius: 0 10px 10px 0;
        background-color: white;
        width: 25px;
        height: 23px;
        bottom: 1px;
        padding: 6px 3px 0 0;
        cursor: pointer;

    }

    .check{
        background-color: white;
        position: relative;
        bottom: 1px;
        border-radius:  10px 0 0 10px;
        width: 25px;
        padding: 6px 0 0 5px;
        cursor: pointer;


    }
    .newInput{
        position: relative;
         bottom: 1px;
         color: grey;
         font-size: 15px;
         font-family: helvetica;   
         background: white;
         border: 0px solid white;
         width: 450px;
         height: 28px;
         padding: 1px 0 0 10px;

    }
    .container{
        display: flex;
        width: 450px;
        flex-direction: row;
        margin-bottom: 4px;
    }

     input:focus {
        outline: none;
        }
     button:focus {
        outline: none;
        }


 
    .checked{
         border: 3px solid #E6E6E6;
         background-color:#E6E6E6;
         text-decoration: line-through;
         width: 450px;
         color: grey;
         height: 23px;
         font-size: 15px;
         font-family: helvetica;
         padding:0 6px;  
        cursor: pointer;


    }
    .checkedremove{
        border-radius:  0 10px 10px 0;
        border: 3px solid #E6E6E6;
        background-color:#E6E6E6;
        height: 21px;
        padding: 2px 4px 0 0;
        cursor: pointer;


    }
    .checkedcheck{ 
         padding: 2px 0 0 2px;
         position:relative; 
         border-radius:  10px 0 0 10px;
         border: 3px solid #E6E6E6;
         background-color:#E6E6E6;
        cursor: pointer;

    }


/* @media only screen and (max-width : 1000px){

#flexed{
    display: flex;
    flex-direction: column;
}

 .main{
        padding-left: 25%;

    }


@media only screen and (max-width : 700px){

#flexed{
    display: flex;
    flex-direction: column;
}

 .main{
        padding-left: 10%;

    }

 */