@media (min-width: 1001px) and (max-width: 2000px) {

    #content {
        display: none;
    }

    #noSize {
        display: block;
        font-size: 2em;
        margin: 10em auto;
        color: darkgrey;
        width: 19em;
    }
}

@media (min-width: 10px) and (max-width: 1000px) {

    #noSize {
        display: none;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }

    #content {
        display: flex;
        justify-content: center;
        width: 100em;
    }

    /*не забыть убрать 2 пикселя*/
    #UO-000, #UO-002, #UO-004, #UO-005, #UO-008, #UO-009, #UO-011, #UO-014, #UO-016, #UO-017, #UO-018, #UO-019, #UO-020, #UO-021, #UO-022, #UO-026, #result, #UO-027 {
        flex-direction: column;
        justify-content: center;
        width: 100em;
        height: auto;
        /*border: 1px solid #D0D0D0;*/

        /*background-color: #F3F3F3;*/
    }

    .header {
        height: 45em;
        width: 100em;
        text-align: center;
    }

    img.bigImage {
        width: 100em;
        height: 45em;
        z-index: 1;
    }

    img.littleImage {
        width: 25em;
        position: relative;
        bottom: 40em;
        z-index: 1;
        margin: 0 auto;
    }

    .body p {
        text-align: center;
        font-size: 6em;
        font-weight: normal;
        letter-spacing: -0.000250000012px;
        color: #343534;
        margin: 1.5em 1.5em 1.5em 1.5em;;

    }

    .dropdownMenu {
        margin: 3em;
        flex-direction: row;
        border-bottom: 0.3em solid #BDBDBD;
        cursor: pointer;
    }

    .dropdownMenu p {
        display: inline-block;
        font-size: 5em;
        font-weight: normal;
        letter-spacing: -0.0599999987px;
        color: #F15D22;
        text-align: left;
        width: 16em;
        margin: 0.5em;

    }

    .buttonMenu {
        position: relative;
        bottom: 16px;
        border: none;
        background: none;
    }

    .next {
        width: 14.5em;
        height: 2em;
        margin: 1.5em 1.07em 2em 1.07em !important;
        border: none;
        background: #F15D22;
        font-size: 6em;
        font-weight: normal;
        letter-spacing: -0.578823507px;
        color: #FFFFFF;
        border-radius: 1em;
    }

    .menuPocket {
        display: none;
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 0.000250000012px;
        color: #343534;
    }

    .body ul {
        padding-left: 1.5em;
        font-size: 6em;
        font-weight: normal;
        letter-spacing: 0.000250000012px;
        color: #343534;

    }

    .body li {
        margin: 1em;

    }

    .body .p {
        margin: 1em 0.8em !important;
    }

    #flexSquares {
        display: flex;
        margin: 5em auto 3em auto;
        flex-wrap: wrap;
        width: 84em;
    }

    #flexThree {
        display: flex;
        margin: 0 auto 0 auto;
        flex-wrap: wrap;
        width: 84em;
    }

    .describesBest, .role, .location017 {
        cursor: pointer;
    }

    .describesBest img, .role img, .location017 img {
        width: 6em;
        margin: 0 1em 0 1em;
    }

    .describesBest p, .role p, .location017 p {
        font-size: 5.5em !important;
        font-weight: normal;
        letter-spacing: -0.000250000012px;
        width: auto;
        margin: 0;
    }

    #UO-002 .body p {
        margin-bottom: 10px;
        font-size: 6.5em;
    }

    #next002 {
        opacity: 0.5;
        cursor: auto;
    }

    #landholder, #community, #government, #gas_industry {
        font-size: 5em;
    }

    #UO-004 {
        z-index: 1;
        height: 219em;
    }

    #UO-004 .body {
        display: flex;
        flex-direction: column;
    }

    #UO-004 .body p {
        text-align: left;
        margin: 1em 0.1em 0 1.2em;
    }

    .body .plan-number p {
        display: inline-block;
        text-align: left;
        width: 11em !important;
        margin: 1.5em 0 1em 1.2em !important;
    }

    .plan-number .information {
        margin: 0 0 0 8em !important;
        bottom: 4em;
    }

    #UO-004 .input {
        margin-bottom: 5em;
    }

    .information {
        position: relative;
        border: none;
        background-color: white;
    }

    .input #plan-number, .input #specify, .input #business-name, .input #population-centre, .input #email, .input #password, .input #password_again {
        font-size: 6em;
        font-weight: normal;
        letter-spacing: -0.000166666679px;
        width: 14.5em;
        height: 2em;
        margin: auto 1em;
        border: 0.1em solid #F15D22;
        border-radius: 5em;
        text-align: center;
        color: black;
    }

    .input #specify{
        border: 0.1em solid #BDBDBD !important;
    }

    .input #specify:focus{
        border: 0.1em solid #F15D22 !important;
    }

    #UO-008 p {
        margin-bottom: 0.5em;
    }

    #UO-011 .input {
        margin-top: 10em;
    }

    #plan-number:focus, #business-name:focus, #population-centre:focus, #email:focus, #password:focus, #password_again:focus {
        border: 0.1em solid #F15D22;

    }

    input {
        outline: none;
    }

    .edit {
        position: relative;
        width: 12em;
        height: 12em;
        background-color: #F15D22;
        border: none;
        border-radius: 7em;
        left: 81em;
        top: -12em;
    }

    .input {
        height: 12em;
    }

    .radio {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .radio i {
        -webkit-appearance: none;
        border: none;
        height: 1em;
        font-size: 1.3em;
        margin: 0 0.5em 0 0.9em;
    }

    .radio p {
        height: 1.5em;
        margin: 0.9em 13px 0 30px !important;
        font-size: 5.5em;

    }

    .fa-circle-thin {
        color: #007698;
        font-weight: 100;
    }

    .fa-circle {
        color: #F15D22;
    }

    .fa-plus-circle {
        color: #BDBDBD;
        font-size: 12em;
        margin: 0 15px 0 13px;
    }

    #plus {
        display: inline-block;
        letter-spacing: -0.000500000024px;
        fill: #BDBDBD;
        margin: 0 0 0 2.5em;
    }

    #plus i {
        margin: 0.5em 0 0 0.5em;

    }

    #add {
        position: relative;
        bottom: 10px;
        display: inline-block;
        margin: 0.5em;
        font-size: 6em;
        letter-spacing: -0.000166666679px;
        color: #4D4D4F;
    }

    #UO-004 .next, #UO-008 .next, #UO-014 .next, #UO-011 .next, #UO-016 .next, #UO-020 .next, #UO-022 .next, #UO-026 .next {
        margin: 2.5em 1em 2em 1em !important;
        opacity: 0.5;
        cursor: default;
        outline: none;
    }

    #UO-002 .next {
        margin: 35px 17.5px 49px 17.5px;
        outline: none;
    }

    #UO-005, #UO-018, #UO-021 {
        border: none !important;
        display: none;
        z-index: 5;
        position: absolute !important;
        top: 0px;
        height: 219em;
    }


    #UO-018 {
        height: 180em !important;
    }

    .background {
        background-color: #3D3D3D;
        opacity: 0.5;
        height: 219em;
    }

    button {
        outline: none;
    }

    .visible {
        position: absolute;
        top: 20em;
        background-color: white;
        width: 88em;
        height: auto;
        margin: 0 6em;
    }

    .visible .top {
        height: 15em;
        background-color: #00AEC5;
    }

    .top p {
        font-size: 6em;
        font-weight: normal;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 0.6em 0 0.5em 1em;
    }

    .body .one, .body .two, .body .three {
        font-weight: normal;
        margin: 1.5em 1.3em 0.3em 1.3em;
        font-size: 6em;
        color: #343534;

    }

    .body .two {
        text-transform: uppercase;
        font-weight: bold;
    }

    #UO-005 .button, #UO-018 .button, #UO-021 .button {
        position: relative;
        top: -15px;
    }

    /*#okay, #okay018, #okay019, #okay021 {*/
    /*background: white;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*color: #F15C21;*/
    /*font-size: 48px;*/
    /*margin: 0 50px 0px 265px;*/
    /*cursor: pointer;*/
    /*}*/
    #okay i, #okay018 i, #okay021 i {

        background: white;
        position: relative;
        left: 5em;
        bottom: 0.4em;
        width: 1em;
        color: #F15C21;
        font-size: 14em;
        cursor: pointer;
    }

    #okay019 i {

        background: white;
        position: relative;
        top: 0;
        left: 0;
        width: 1em;
        color: #F15C21;
        font-size: 15em;
        cursor: pointer;
    }

    #UO-019 .button {
        position: relative;
        top: 152em;
        left: 75em;
    }

    #UO-008 p, #UO-011 p, #UO-014 p, #UO-016 p, #UO-022 p {
        text-align: left;
        font-size: 6em !important;
    }

    #flexThree .role img, .location017 img {
        width: 28em;
        margin: 3em 3em;
    }

    #flexThree .role p {
        text-align: center;
        font-size: 5.5em !important;

    }

    .wide img {
        margin: 5em 27em 3em !important;
    }

    img#BusinessOwner {
        margin: 3em 6em !important;
    }

    .role {
        margin: 0;
    }

    .resident {
        margin: 0 4em;
    }

    #UO-016 .input, #UO-020 .input {
        margin-bottom: 43em;
    }

    .location, .population_centre {
        margin: 0;
    }

    .location p, .population_centre p {
        font-size: 6em;
        display: inline-block;
        text-align: left;
        width: 13em !important;
        height: 5em;
        font-weight: 400;
        margin: 1.5em 0 0 1em;
        letter-spacing: -0.000250000012px;
        color: #343534;
        line-height: 1.3em;
    }

    #UO-017 .location .information {
        margin: -2em;
        position: relative;
        bottom: 13em;
    }

    #UO-020 .population_centre .information {
        margin: -0.5em;
        position: relative;
        bottom: 4em;
    }

    #UO-017 .wide img {
        margin: 0 36em !important;
        height: 28em;
    }

    #UO-017 .wide p {
        margin-top: 0.5em !important;
    }

    .location017 {
        margin: 5em 0 52em 0 !important;
    }

    #UO-018 .background {
        height: 100%;
    }

    #UO-021 .background {
        height: 100%;
    }

    #UO-021 {
        height: 179em !important;
    }

    .wide {
        width: 100em;
    }

    #UO-018 .visible, #UO-021 .visible {
        top: 47em;
    }

    #UO-019 {
        height: 178em;
    }

    #UO-019 .button {
        position: relative;
        width: 14em;
    }

    #UO-020 .body p, #UO-026 .body p {
        text-align: left !important;
    }

    #radio022 {
        margin-bottom: 35px;
    }

    #UO-026 .input {
        margin-bottom: 24px;
    }

    #UO-026 #terms {
        margin: 6em auto 0 auto;
        text-align: center !important;
        font-size: 3.4em;
        text-decoration: underline;
    }

    #UO-026 #p026 {
        margin-bottom: 2em;
    }

    #result p {
        display: none;
        font-size: 5em;
    }

    #result {
        border: none !important;
    }

    #UO-026 .input {
        margin: 8em 0;
    }

    #UO-026 .next {
        margin-top: 1.5em !important;
    }

    #UO-011 {
        height: 180em !important;
    }

    #next011 {
        margin: 3em 1.05em 2em 1.05em !important;
    }

    #angleLeft000, #angleLeft002, #angleLeft004, #angleLeft008, #angleLeft011, #angleLeft014, #angleLeft016, #angleLeft017, #angleLeft019, #angleLeft020, #angleLeft022, #angleLeft026,  #angleLeft027 {
        position: absolute;
        font-size: 8em;
        top: 0.7em;
        left: 0.7em;
        color: white;
    }

    #UO-000 #x000, #UO-002 #x002, #UO-004 #x004, #UO-008 #x008,#UO-011 #x011, #UO-014 #x014, #UO-016 #x016, #UO-017 #x017,#UO-019 #x019, #UO-020 #x020, #UO-022 #x022,#UO-026 #x026,#UO-027 #x027 {
        position: absolute  !important;
        font-size: 7em! important;
        top: 0.7em !important;
        left: 12.5em  !important;
        color: white  !important;
    }

    #circles {
        width: 27em;
        top: 32em;
        left: 37.5em;
        height: 5em;
        position: absolute;
        z-index: 2;
    }

    #circles i {
        margin: 0.4em;
        display: inline-block;
        color: white;
        position: relative;
        font-size: 2.5em;
    }

    i#circle1 {
        color: #007598;
    }

    .fa-info-circle {
        font-size: 11em;
        color: #A6A3A7;
    }

    .fa-pencil {
        color: white;
        font-size: 5em;
    }

    #location {
        font-size: 33em;
        position: relative;
        margin: 0 1.08em;
        color: #F15C21;
    }

    #mapMarker {
        position: absolute;
        top: 8.3em;
        left: 3.9em;
        font-size: 12em;
        color: #F15C21;
    }

    #UO-016 {
        height: 0em;
    }

    #UO-016 .next {
        margin: 4.5em 1em 2em 1em !important;
    }

    .describesBest {
        margin: 1em;
    }

    #business_owner {
        margin: 3em 3em 3em 6em !important;
    }

    #UO-027 .body p{
        text-align: left;
        font-size: 3.5em;
    }

    .warnings{
        display: none;
        color: red;
        font-size: 4em;
        margin: 2em 3em;
        text-align: center;
    }

    #donotMatch.warnings{
        position: relative;
        bottom: 9em;
    }


}


























